.main-section {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: 94vh;
    overflow-y: auto;
}

.left-section,
.center-section,
.right-section {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
}