<header class="bg-slate-950 text-white flex justify-between items-center py-4">
    <div class="ml-4 text-2xl font-bold">
        Achievo
    </div>
    <nav class="space-x-6">
        <ul class="list-none p-0 m-0">
            <li class="inline">
                <a href="#" class="font-bold no-underline hover:underline hover:text-highlight">Accueil</a>
            </li>
            <li class="inline">
                <a href="#" class="font-bold no-underline hover:underline hover:text-highlight">À propos</a>
            </li>
            <li class="inline">
                <a href="#" class="font-bold no-underline hover:underline hover:text-highlight">Services</a>
            </li>
        </ul>
    </nav>
</header>