<section>
  <div *ngFor="let character of characters">
    <mat-card class="mat-whiteframe-2dp">
      <mat-card-title-group>
        <img mat-card-md-image src="{{ character.photo }}">
        <mat-card-title>
          <a href="javascript:void(0);">
            <span>{{ character.firstname }} {{ character.lastname }}</span>
          </a>
        </mat-card-title>
        <mat-card-subtitle>{{ character.entity }}</mat-card-subtitle>
        <mat-card-subtitle class="contact-info">
          <mat-icon svgIcon="icon-mail"></mat-icon>
          <a href="mailto:{{ character.firstname }} {{ character.lastname }}&lt;{{ character.email }}&gt;"
            title="Send an email to {{ character.firstname }} {{ character.lastname }}" class="truncate">{{
            character.email }}</a>
        </mat-card-subtitle>
        <mat-card-subtitle class="contact-info">
          <mat-icon svgIcon="icon-phone"></mat-icon>
          <a href="tel:{{ character.phone }}" title="Call {{ character.firstname }}">{{ character.phone }}</a>
        </mat-card-subtitle>

      </mat-card-title-group>
      <mat-card-content>
        <div class="contact-info">
          Manager&nbsp;:&nbsp;
          <a href="javascript:void(0);">{{ character.manager }}</a>
        </div>
        <div class="contact-info">
          Location&nbsp;:&nbsp;<a href="javascript:void(0);">DEVLAND</a>
        </div>
        <div class="buttons-info">
          <a mat-button title="Locate" href="javascript:void(0);">
            <mat-icon svgIcon="icon-maps"></mat-icon>
          </a>
          <a mat-button title="Edit" href="javascript:void(0);">
            <mat-icon svgIcon="icon-edit"></mat-icon>
          </a>
          <button mat-button title="Delete">
            <mat-icon svgIcon="icon-delete"></mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>