<div class="search-section">
    <div class="search-field">
        <input type="text" placeholder="Rechercher...">
    </div>
    <div class="filter-favorites">
        <label>
            <input type="checkbox"> Afficher les favoris
        </label>
    </div>
    <div class="filter-my-activities">
        <label>
            <input type="checkbox"> Afficher mes activités
        </label>
    </div>
    <div class="date-fields">
        <label>Date de début:</label>
        <input type="date">
        <label>Date de fin:</label>
        <input type="date">
    </div>
</div>