.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    flex-shrink: 0;
    height: 3vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    margin: 0;
}